<a href="https://colab.research.google.com/github/debjeet214/Python/blob/main/For_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
name = " debosmita"

for characters in name:
  print(characters)

d
e
b
o
s
m
i
t
a

In [4]:
marks_list = ["debjeet", "Mitali", "Ankita", "Sourago", "Ditipriya"]

for names in marks_list:
  print("\n")
  if(names == "Mitali"):
    print(names, "You are my love babe.")
  for i in names:
    print(i)

d
e
b
j
e
e
t


Mitali You are my love babe.
M
i
t
a
l
i


A
n
k
i
t
a


S
o
u
r
a
g
o


D
i
t
i
p
r
i
y
a

In [13]:
# range in the for loop

for i in range(10):   # this will print from 0 to 9 total 10 times
  print(i, end = ' ')

print("\n")

for j in range(5, 10):      # this will print from the given range here from 5 to 10-1
  print(j, end = ' ')

print("\n")

for k in range(3, 12, 2):
  print(k, end = ' ')

0 1 2 3 4 5 6 7 8 9

5 6 7 8 9

3 5 7 9 11